
/* GENERAL **************************************************************************/
@media only screen and (min-width:450px) and (max-width: 546px){
    h1{
        font-weight: 800;
        font-size: 62px;
        color:#757575;
        opacity: 0.05;
    }  
     
    
}
@media only screen and (max-width: 449px){
    h1{
        font-weight: 800;
        font-size: 52px;
        color:#757575;
        opacity: 0.05;
    }  
     
    
}
@media screen and (max-width: 1199px) {
  section .headingShadow {
    text-align: center;
    position: relative;
    bottom: 32px;
    padding-bottom: 1em;
  }
  #map .headingShadow {
    text-align: center;
    position: relative;
    bottom: 32px;
    padding-bottom: 3em !important;
  }
} 

/* HEADER ********************************************************************/
@media screen and (max-width: 1199px) {
  .navbar {
    padding:20px 40px;
  }
  
  .navbar-toggler{
    border:none !important;
   }
  .navbar #navbar-list-2 ul {
   padding:30px 0;
  }

  .dropdown:hover>.dropdown-menu {
    display: none;
  }

  .dropdown-menu{
    text-align: center;
  }
    }  
  @media screen and (min-width: 1065px) and (max-width: 1199px) {
    .navbar #navbar-list-2 .navbar-nav .bezwaarNu {
      left: 0;
      margin: 10px 25em 0 25em;
      
    }
    } 
  @media screen and (min-width: 900px) and (max-width: 1064px) {
    .navbar #navbar-list-2 .navbar-nav .bezwaarNu {
      left: 0;
      margin: 10px 20em 0 20em;
      
    }
    } 
  @media screen and (min-width: 750px) and (max-width: 899px) {
    .navbar #navbar-list-2 .navbar-nav .bezwaarNu {
      left: 0;
      margin: 10px 12em 0 12em;
      
    }
    } 
    @media screen and (min-width: 600px) and (max-width: 749px) {
      .navbar #navbar-list-2 .navbar-nav .bezwaarNu {
        left: 0;
        margin: 10px 10em 0 10em;
        
      }
      } 
      @media screen and (min-width: 450px) and (max-width: 599px) {
        .navbar #navbar-list-2 .navbar-nav .bezwaarNu {
          left: 0;
          margin: 10px 5em 0 5em;
          
        }
        } 
        @media screen  and (max-width: 449px) {
          .navbar #navbar-list-2 .navbar-nav .bezwaarNu {
            left: 0;
            
          }
          } 
@media screen and (min-width: 1400px) and (max-width: 1600px) {
      .navbar #navbar-list-2 .navbar-nav .bezwaarNu {
        position: relative;
        left: 8.5em !important;
        
      }
    } 
    @media screen and (min-width: 1265px) and (max-width: 1399px) {
      .navbar #navbar-list-2 .navbar-nav .bezwaarNu {
        position: relative;
        left: 6em !important;
        
      }
    }
    @media screen and (min-width: 1200px) and (max-width: 1264px) {
      .navbar {
        padding:20px 40px;
      }
      .navbar #navbar-list-2 .navbar-nav .bezwaarNu {
        position: relative;
        left: 2em !important;
        
      }
    }

    @media screen and (min-width: 742px) and (max-width: 1199px) {
      .dropdown-menu {
        margin:0 15em;
      }
      } 
      @media screen and (max-width: 741px) {
        .dropdown-menu {
          margin:0 2em;
        }
        } 


/* FOOTER *********************************************************************/
@media only screen and (min-width: 576px) and (max-width: 1028px){
    .footerWideScreen .widgets{
        width: 100%;
        height: 70%;
        margin: auto;
    }
    
}
@media only screen and (min-width: 950px) and (max-width: 1028px){
    .footerWideScreen .copyright{
        width: 100%;
        height: 30%;
        padding:0 25px 0 25px;
    }
    
}

@media only screen and (min-width: 576px) and (max-width: 949px){
    .footerWideScreen .copyright .copyrightText{
        float: none;
     }
     .footerWideScreen .copyright .bezwaar24{
         float: none;
         display: inline-flex;
         text-align: center;
      }
     
    
}

 @media screen and (max-width: 575px) {
    .footerWideScreen{
        display: none;  
    }
    .footerMobileScreen{
        display: block;
        width: 100%;
        bottom:0;
   }
   .footerMobileScreen .widgets{
        width: 100%;
        
   }
   .footerMobileScreen .widgets .myWidget h3,.footerMobileScreen .widgets .myWidget ul{
    text-align: center;
   }
   .footerMobileScreen .copyright{
    padding: 30px 15px 0 15px;
   }  
   .footerMobileScreen .copyright .bezwaar24 img{
    margin-right: 100px;
 } 
   .footerMobileScreen .copyright .copyrightText p{
      text-align: center;
   } 
   
}

/*********************Hero Section Start***************************************/

/*MEdia Queries to display hero with Header */

@media screen and (min-width: 1265px)  {
   
  #carouselExampleIndicators {
  
   padding:0px 100px;
    }
  } 

@media screen and (min-width: 1199px) and (max-width: 1265px) {
   
  #carouselExampleIndicators {
  
   padding:0px 40px;
    }
  } 

@media screen and (max-width: 1199px) {
 
  #carouselExampleIndicators {
     padding:0px 40px;
  }
    }  



    @media screen and (min-width: 767px) and (max-width: 1199px) {
   
      #carouselExampleIndicators {
        padding:0px 30px;
        }
      } 

/******************************/

@media only screen and (min-width: 1600px){


  .hero-big-text-container{
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    height: 65%;
  }
  .hero-title-container{
    margin-top: 5%;

  }
  
}

@media screen and (min-width: 768px) and (max-width: 1100px) {
  #hero {
    
    /* margin-top: 0; */
  }
  } 

@media only screen and (max-width: 1400px){



  #hero h1 {
    opacity: 1;
    color:#0078B6;
    font-size: 35px !important;
    font-weight: 700;
    }
    
    #hero h2 {
      opacity: 1;
      color:#01193C;
      font-size: 32px;
      font-weight: 700;
    
      }
    
    #hero h4 {
      text-align: left;
      font-weight: 600;
      letter-spacing: 0px;
      color: #01193C;
      font-size: 20px;
    }
  
}

@media only screen and (max-width: 1100px){
  #hero h1 {
    opacity: 1;
    color:#0078B6;
    font-size: 30px !important;
    font-weight: 700;
    }
    
    #hero h2 {
      opacity: 1;
      color:#01193C;
      font-size: 25px;
      font-weight: 700;
    
      }
    
    #hero h4 {
      text-align: left;
      font-weight: 600;
      letter-spacing: 0px;
      color: #01193C;
      font-size: 18px;
    }

    #carouselExampleIndicators {
      height:100%;

    }
  
}


@media only screen and (max-width: 900px){
  #hero h1 {
    opacity: 1;
    color:#0078B6;
    font-size: 28px !important;
    font-weight: 700;
    }
    
    #hero h2 {
      opacity: 1;
      color:#01193C;
      font-size: 22px;
      font-weight: 700;
    
      }
    
    #hero h4 {
      text-align: left;
      font-weight: 600;
      letter-spacing: 0px;
      color: #01193C;
      font-size: 16px;
    }
  
}

@media only screen and (max-width: 800px){
  #hero h1 {
    opacity: 1;
    color:#0078B6;
    font-size: 26px !important;
    font-weight: 700;
    }
    
    #hero h2 {
      opacity: 1;
      color:#01193C;
      font-size: 20px;
      font-weight: 700;
    
      }
    
    #hero h4 {
      text-align: left;
      font-weight: 600;
      letter-spacing: 0px;
      color: #01193C;
      font-size: 16px;
    }
  
}

@media only screen and (max-width: 800px){
  #hero h1 {
    opacity: 1;
    color:#0078B6;
    font-size: 22px !important;
    font-weight: 700;
    }
    
    #hero h2 {
      opacity: 1;
      color:#01193C;
      font-size: 18px;
      font-weight: 700;
    
      }
    
    #hero h4 {
      text-align: left;
      font-weight: 600;
      letter-spacing: 0px;
      color: #01193C;
      font-size: 15px;
    }
  
}

@media only screen and (max-width: 767px){
  #carouselExampleIndicators .row {
     flex-direction: column-reverse;
     justify-content: center;
     align-items: center;
  
  }


  #carouselExampleIndicators .reverse {
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
 }

  .hero-text-container {
    height: 50% ;
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    
  }
  
  .hero-big-text-container {
    height: 100% ; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    
    padding: 5% 0 ;
    
  }

  .hero-big-text-container h4 {
    margin: 25px 0;
    
  }


  
}



@media only screen and (max-width: 767px) , only screen and (max-height: 700px) {
  #hero {
   height: 100%; 
   
  }
  #carouselExampleIndicators {
    height:50%;
     width:100%;
  padding: 12rem 5% 10% 5%;
  
     margin: auto;
     
  }

  
}




/*********************Hero Section End***************************************/


/*********************Help Section Start***************************************/
@media only screen and (min-width:1301px){

  #help {
            margin-bottom: -150px;
        }


}



@media only screen and (max-width: 1300px){

    #help-row-container .row {
        width: 85%;
        margin-top: 25px;
        }

        .help-dashed-container {
   
            padding: 30px;
            border-color: #46738A;
            /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%2346738AFF' stroke-width='9' stroke-dasharray='7%25%2c 15%25' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
            border-radius: 100px; */
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%2346738AFF' stroke-width='8' stroke-dasharray='4%25%2c 11%25' stroke-dashoffset='11' stroke-linecap='round'/%3e%3c/svg%3e");
            border-radius: 100px;
        
        } 

        .help-bubble-container img {
            height: 32px;
            width :32px;
        
        
          }

          #help p {
            text-align: center;
            font: normal normal medium Montserrat;
            font-size: 16px;
            letter-spacing: 0px;
            color: #000;
            opacity: 1;
            line-height: 1.5em;
          }
    
}

@media only screen and (max-width: 999px){
      #help-row-container {
        margin-bottom: 50px;
      }

    #help-row-container .row {
        width: 100%;
        margin-top: 25px;
        
        }
        .help-dashed-container {
   
            padding: 20px;
            border-color: #46738A;
            /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%2346738AFF' stroke-width='9' stroke-dasharray='7%25%2c 15%25' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
            border-radius: 100px; */
            background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%2346738AFF' stroke-width='8' stroke-dasharray='4%25%2c 11%25' stroke-dashoffset='11' stroke-linecap='round'/%3e%3c/svg%3e");
            border-radius: 100px;
        
        } 

        .help-bubble-image-container{

            background-color: #0078B6; 
            border-radius: 50%; 
            border-style: solid;
           border-width: 7px;
           border-color: white; 
           padding: 10px; 
           -webkit-box-shadow: 0px 0px 41px 3px rgba(224,224,224,1);
           -moz-box-shadow: 0px 0px 41px 3px rgba(224,224,224,1);
           box-shadow: 0px 0px 41px 3px rgba(224,224,224,1);
          }

          .help-bubble-image-container-light{

            background-color: #83C5E8; 
            border-radius: 50%; 
            border-style: solid;
           border-width: 7px;
           border-color: white; 
           padding: 10px; 
           -webkit-box-shadow: 0px 0px 35px 3px rgba(224,224,224,1);
           -moz-box-shadow: 0px 0px 35px 3px rgba(224,224,224,1);
           box-shadow: 0px 0px 35px 3px rgba(224,224,224,1);
          }
          .help-bubble-container img {
            height: 32px;
            width :32px;
        
        
          }

          #help p {
            text-align: center;
            font: normal normal medium Montserrat;
            font-size: 15px;
            letter-spacing: 0px;
            color: #000;
            opacity: 1;
            line-height: 1.5em;
          }

          #help-row-two-container .row {
            width: 95%;
            margin: auto;
            
          }

}






/*********************Help Section End***************************************/

/*********************Steps Section Start***************************************/
@media only screen and (min-width: 1500px){
    #steps-circles-container{
        width: 70%;
        display: flex;
      
      } 
    
    
}


@media only screen and (max-width: 1200px){
   
    .steps-numbers{
       
       height: 48px;
        width: 48px;
    
      
      }
      
      .steps-numbers-light{
        height: 48px;
        width: 48px;

      }

      .steps-white-circle p {
        font-size: 14px;

      }
    
    
}


@media only screen and (max-width: 1000px){
   
  #steps-text-container {
    width: 95%;
    margin :auto;
   
  }
#steps-circles-container{
  display: flex;
  flex-direction: column;

  align-items: center;
  margin-bottom: auto;

}

.steps-one-circle-container {
  width:50%;
  position: relative;
  transform: rotate(90deg);
  margin-bottom: 8.5%;
  
}


.steps-white-circle {
  transform: translate(-35%, -50%) rotate(-90deg);
 
}
#last-step-white-circle{
  transform: translate(-35%, -50%) rotate(-90deg);
  top: 50%;
  left: 30.5%;

}

    .steps-numbers{
      transform: rotate(-90deg);
      height: 58px;
      width: 58px;
      }
       
      .steps-numbers-light{
        transform: rotate(-90deg);
        height: 58px;
        width: 58px;
      }

      .steps-icons {
        width: 20%;
        height: 20%;
      
      }

  
}

@media only screen and (max-width: 600px){
   
      .steps-numbers{
        transform: rotate(-90deg);
        height: 42px;
        width: 42px;
        }
         
        .steps-numbers-light{
          transform: rotate(-90deg);
          height: 42px;
          width: 42px;
        }
  
        .steps-icons {
          width: 20%;
          height: 20%;
        
        }
  
        .steps-white-circle p {
          font-size: 12px;
  
        }
  }

/*********************Steps Section End***************************************/

/* FAQ SECTION ******************************************************************************/
  @media only screen and (min-width: 800px) and (max-width: 1200px){
    #faq .acc {
        width: 80%;
      }
    
}
@media only screen and (max-width: 799px){
    #faq .acc {
        width: 100%;
      }
    
}
/*********************FAQ Section End***************************************/

/*BLOG  SECTION ******************************************************************************/
  @media only screen and (min-width: 1500px) and (max-width: 1680px){
    #blog .row .postCard .postImage{
      width: 450px;
      height: 300px;
      
    }
    .postCard .points{
      left: 20em;
    }
}
@media only screen and (min-width: 1300px) and (max-width: 1499px){
  #blog .row .postCard .postImage{
    width: 400px;
    height: 267px;
    
  }
  .postCard .points{
    left: 18em;
    bottom: 23em;
  }
}
@media only screen and (min-width: 1150px) and (max-width: 1399px){
  #blog .row .postCard .postImage{
    width: 350px;
    height: 234px;
    
  }
  .postCard .points{
    left: 16em;
    bottom: 23em;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1149px){
  #blog .row .postCard .postImage{
    width: 300px;
    height: 200px;
    
  }
  .postCard .points{
    left: 13em;
    bottom: 26em;
  }
}

@media only screen and (max-width: 991px){
  
  .postCard .points{
    display: none;
  }
}


@media only screen and (max-width: 580px){
  #blog .row .postCard .postImage{
    width: 300px;
    height: 200px;
    
  }
 
}
/*********************BLOG Section End***************************************/

/*MAP SECTION ***************************************************************************************** */
@media only screen and (min-width: 900px) and (max-width: 1100px){
    .iframeContainer .contactForm{
        left:100px
     }
    
}
@media only screen and (max-width: 899px){
    .iframeContainer .contactForm{
        display:none;
     }

     #map .contactFormMobileContainer{
        text-align: center;
        padding: 20px 60px;
        width: 100%;
        display: block;
        margin-bottom: 5px;
    } 
    .contactFormMobileContainer .contactForm{
      width:100%;
      
    }
    .contactFormMobileContainer  h3{
        font-size: 18px;
        color: #0078B6;
        font-weight: 600;
      } 
      .contactFormMobileContainer .nuBerekenen{   
        background-color:#0078B6;
        border-radius: 32px;
        color:#fff !important;
        font-weight: 400 !important;
        padding:10px 50px;
        font-size: 15px;
        margin-top: 25px;
        margin-bottom: 40px;
    } 
    
}

/*MAP END SECTION ***************************************************************************************** */


/*********************ARticle Start***************************************/
@media screen and (min-width: 1199px) and (max-width: 1265px) {
   
  #article {
   padding:0px 40px;
   margin-top: 150px ;
    }
  } 
@media only screen and (max-width: 1199px){

  .big-container {
    margin-top: 50px;

    display: flex ;
    justify-content: space-between;
    flex-direction: column;
  }
  .left-container{
    width: 100%;
  
  }
  
  .right-container{
    width: 100%;
    text-align: center;
    margin-top: 55px;
    bottom: 0;
  }


  #cards-news-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 25px;

}

.card {
      margin-right: 15px;
      margin-left: 15px;
      


}
}


@media only screen and (max-width: 999px){


  #cards-news-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 25px;

}
  
.right-container{
  width: 100%;
  text-align: center;
  margin-top: 55px;
  bottom: 0;
}
.card {
  width: 98%;
}

}
















/*********************ARticle Start***************************************/
