
/* GENERAL **************************************************************************/
@media only screen and (min-width:450px) and (max-width: 546px){
    h1{
        font-weight: 800;
        font-size: 62px;
        color:#757575;
        opacity: 0.05;
    }  
     
    
}
@media only screen and (max-width: 449px){
    h1{
        font-weight: 800;
        font-size: 52px;
        color:#757575;
        opacity: 0.05;
    }  
     
    
}
/* HEADER ********************************************************************/
@media screen and (max-width: 1399px) {
    .header {
        overflow: hidden;
        padding: 20px 50px;
      }
    }  
    @media screen and (max-width: 1150px) {
    .header {
        overflow: hidden;
        padding: 20px 10px;
        }
    } 
    @media screen and (max-width: 1149px) {
        .header {
            display: none !important;
            }
    } 

/* MOBILE and tablet MENU */

@media screen and (min-width: 1150px) {
    .mobileContainer {
        display: none !important;
        }
    } 
/* FOOTER *********************************************************************/
@media only screen and (min-width: 576px) and (max-width: 1028px){
    .footerWideScreen .widgets{
        width: 100%;
        height: 70%;
        margin: auto;
    }
    
}
@media only screen and (min-width: 950px) and (max-width: 1028px){
    .footerWideScreen .copyright{
        width: 100%;
        height: 30%;
        padding:0 25px 0 25px;
    }
    
}

@media only screen and (min-width: 576px) and (max-width: 949px){
    .footerWideScreen .copyright .copyrightText{
        float: none;
     }
     .footerWideScreen .copyright .bezwaar24{
         float: none;
         display: inline-flex;
         text-align: center;
      }
     
    
}

 @media screen and (max-width: 575px) {
    .footerWideScreen{
        display: none;  
    }
    .footerMobileScreen{
        display: block;
        width: 100%;
        bottom:0;
   }
   .footerMobileScreen .widgets{
        width: 100%;
        
   }
   .footerMobileScreen .widgets .myWidget h3,.footerMobileScreen .widgets .myWidget ul{
    text-align: center;
   }
   .footerMobileScreen .copyright{
    padding: 30px 15px 0 15px;
   }  
   .footerMobileScreen .copyright .bezwaar24 img{
    margin-right: 100px;
 } 
   .footerMobileScreen .copyright .copyrightText p{
      text-align: center;
   } 
   
}
/*MAP SECTION ***************************************************************************************** */
@media only screen and (min-width: 900px) and (max-width: 1100px){
    .iframeContainer .contactForm{
        left:100px
     }
    
}
@media only screen and (max-width: 899px){
    .iframeContainer .contactForm{
        display:none;
     }

     #map .contactFormMobileContainer{
        text-align: center;
        padding: 20px 60px;
        width: 100%;
        display: block;
        margin-bottom: 5px;
    } 
    .contactFormMobileContainer .contactForm{
      width:100%;
      
    }
    .contactFormMobileContainer  h3{
        font-size: 18px;
        color: #0078B6;
        font-weight: 600;
      } 
      .contactFormMobileContainer .nuBerekenen{   
        background-color:#0078B6;
        border-radius: 32px;
        color:#fff !important;
        font-weight: 400 !important;
        padding:10px 50px;
        font-size: 15px;
        margin-top: 25px;
        margin-bottom: 40px;
    } 
    
}


