/* GENERAL ******************************************************************************/
body {
  font-family: 'Montserrat', sans-serif;
  max-width: 100%;
  overflow-x: hidden !important;
  
}


/* A Enlever */
h2 {
  font-weight: 800;
  font-size: 34px;
  color: #01193C;
}

h1 {
  font-weight: 800;
  font-size: 82px;
  color: #757575;
  opacity: 0.05;
}

p {
   font-size: 16px;
   color:#000;
}

section {
  padding: 80px 0 80px 0;

}

section .heading {
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
}

section .heading h2 {
  z-index: 10;
  display: inline;
}

section .heading img {
  width: 70px;
  position: relative;
  left: 1.7%;
  bottom: 1em;
}

section .headingShadow {
  text-align: center;
  position: relative;
  bottom: 32px;
  padding-bottom: 3em;
}

.halfCircle{
  width: 150px;
  height: 300px;
  border-top-right-radius:150px;
  border-bottom-right-radius:150px;
  background-color: #F8F8FB;
  position: absolute;
}
.midHalfCircle{
  width: 200px;
  height: 250px;
  border-radius:50%;
  background-color: #F8F8FB;
  position: absolute;
}
.quarterCircle{
  width: 200px;
  height: 250px;
  border-radius:50%;
  background-color: #F8F8FB;
  position: absolute;
}

/* MENU *****************************************************************************/
.header {
  overflow: hidden;
  padding: 20px 100px;
  background-color: white;
  z-index: 100;
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
}

.sticky + #hero {
    padding-top: 102px;
  }

.header a {
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 16px;
  line-height: 25px;
}

#menu .menuLink:hover {
  color: #0078B6 !important;
}

#menu .menuLink.active {
  color: #0078B6 !important;
}

.logo {
  float: left;
  height: auto;
}

.bezwaarNu {
  float: right;
  background-color: #0078B6;
  border-radius: 32px;
  color: #fff !important;
  font-weight: 600 !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
}



/* MOBILE and tablet MENU */
.mobileContainer {
  max-width: 80%;
  margin: auto;
  color: #000;
  border-radius: 10px;
}

.mobileNav {
  overflow: hidden;
  background-color: #fff;
  position: relative;
}

.logo img {
  height: 44px;
  width: 150px;
  
}

#mobileLinks {
  display: none;
  margin-top: 50px;
  float: right;
  background-color: yellow;
  width: 300px !important;
  height: 100vh;
  overflow: auto;
}

#mobileLinks a {
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

#mobileLinks .bezwaarNu {
  background-color: #0078B6;
  border-radius: 32px;
  color: #fff !important;
  font-weight: 600 !important;
  padding-right: 20px !important;
  padding-left: 20px !important;
  margin-top: 20px;
  margin-left: 10px;
  float: left;
}

a.icon {
  background: #fff;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.fa-bars {
  margin-top: 15px !important;
}

#mobileLinks a:hover, .mobileNav a:active {
  color: #0078B6;
}

/**********************Hero Section Start*****************************/
#hero {
  margin: 0;
  padding: 0;

}
#hero .quarterCircle{
  z-index: -1;
  margin-left: -8em;
  top:10em;
}

#hero .bezwaarNu {
  float: left;
  background-color: #0078B6;
  border-radius: 32px;
  color: #fff !important;
  font-weight: 600 !important;
 padding: 10px 35px !important;

}

#hero h1 {
opacity: 1;
color:#0078B6;
font-size: 45px;
font-weight: 700;
}

#hero h2 {
  opacity: 1;
  color:#01193C;
  font-size: 40px;
  font-weight: 700;

  }

#hero h4 {
  text-align: left;
  font-weight: 600;
  letter-spacing: 0px;
  color: #01193C;
  font-size: 28px;
}

#hero img {
  width: 100%;
  height: 100%;
}
.carousel-indicators li{
  height: 7px;
  width: 40px;
  border: 2px solid #0078B6;
  border-radius: 15px;

}

.carousel-indicators .active {
  height: 7px;
  width: 40px;

  border-radius: 15px;
  background-color: #0078B6;
}



.hero-text-container {
  height: 100%;
  display: flex;
  flex-direction: column; 
  justify-content: space-around;
}

.hero-big-text-container{
  height: 75%; 
  display: flex;
  flex-direction: column; 
  justify-content: space-around;

}

/*hero Section end*/

/* Help Section Start */
#help {
margin-top: 0;
padding-top: 0;

}


#help p {
  text-align: center;
}

#help-row-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 100px;
}
#help-row-container .row {
  width: 75%;
  margin-top: 25px;
}

#help-row-two-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* margin-bottom: 100px; */
}



#help-row-two-container .row {
  width: 70%;
  margin: auto;
}



.help-bubble-container {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 30px;
}

.help-dashed-container {
  padding: 40px;
  border-color: #46738A;
  /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%2346738AFF' stroke-width='9' stroke-dasharray='7%25%2c 15%25' stroke-dashoffset='0' stroke-linecap='round'/%3e%3c/svg%3e");
    border-radius: 100px; */
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='100' ry='100' stroke='%2346738AFF' stroke-width='8' stroke-dasharray='4%25%2c 11%25' stroke-dashoffset='11' stroke-linecap='round'/%3e%3c/svg%3e");
  border-radius: 100px;
}

.help-bubble-image-container {
  background-color: #0078B6;
  border-radius: 50%;
  border-style: solid;
  border-width: 7px;
  border-color: white;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 41px 3px rgba(224, 224, 224, 1);
  -moz-box-shadow: 0px 0px 41px 3px rgba(224, 224, 224, 1);
  box-shadow: 0px 0px 41px 3px rgba(224, 224, 224, 1);
}

.help-bubble-image-container-light {
  background-color: #83C5E8;
  border-radius: 50%;
  border-style: solid;
  border-width: 7px;
  border-color: white;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 35px 3px rgba(224, 224, 224, 1);
  -moz-box-shadow: 0px 0px 35px 3px rgba(224, 224, 224, 1);
  box-shadow: 0px 0px 35px 3px rgba(224, 224, 224, 1);
}

.help-bubble-container img {
  height: 48px;
  width: 48px;
}

/* Help Section End */

/*************** Steps Section Start *********************************/
  
#steps-big-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
 
 
}

#steps-circles-container{
  width: 80%;
  display: flex;
  flex-direction: row;
}

.steps-one-circle-container {
  width:25%;
  position: relative;
 
}

.steps-white-circle {
  position: absolute;
  top: 50%;
  left: 31.5%;
  transform: translate(-35%, -50%);
  background-color: #fff;
  height: 85%;
  width: 67%;
  border-radius: 50%; 
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 10px 10px 102px -15px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 102px -15px rgba(0,0,0,0.75);
box-shadow: 10px 10px 102px -15px rgba(0,0,0,0.75);

}

#last-step-white-circle {
  position: absolute;
  top: 48%;
  left: 30.5%;
  transform: translate(-35%, -50%);
  background-color: #fff;
  height: 85%;
  width: 67%;
  border-radius: 50%; 
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 10px 10px 102px -15px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 102px -15px rgba(0,0,0,0.75);
box-shadow: 10px 10px 102px -15px rgba(0,0,0,0.75);

}

#steps-icons {
  width: 32px;
  height: 32px;

}

.step-number-text {
  font: normal normal bold Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;

}

.steps-numbers{
  position: absolute; 
  background-color: #0078B6;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 41px 3px rgba(224, 224, 224, 1);
  -moz-box-shadow: 0px 0px 41px 3px rgba(224, 224, 224, 1);
  box-shadow: 0px 0px 41px 3px rgba(224, 224, 224, 1);
 height: 64px;
  width: 64px;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 right: 18%;
 z-index: 15;
 top: 7.5%;

}

.steps-numbers-light{
  position: absolute; 
  background-color: #83C5E8;
  text-align: center;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  padding: 15px;
  -webkit-box-shadow: 0px 0px 41px 3px rgba(224, 224, 224, 1);
  -moz-box-shadow: 0px 0px 41px 3px rgba(224, 224, 224, 1);
  box-shadow: 0px 0px 41px 3px rgba(224, 224, 224, 1);
 height: 64px;
  width: 64px;
 border-radius: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 right: 18%;
 z-index: 15;
 top: 7.5%;

}
.steps-btn-container {
  text-align: center;
  margin-top: 65px;
}

.steps-btn-container .btn {
  background-color: #0078B6;
  border-radius: 32px;
  color: #fff !important; 
  width: 15em; 
  padding: 10px 20px;
}

/*********************************** Steps Section Start *********************/
/* Help Section End *******************************************************************************/

/* FAQ CONTAINER ******************************************************************************/
#faq{
  width: 100%;
  align-content: center;
  position: relative;
 
}
#faq .halfCircle{
   bottom: 30em;
   z-index: -1;
}
#faq .midHalfCircle{
  right: 1px;
  z-index: -1;
  margin-right: -8.5em;
  top:25em;
}
#faq .quarterCircle{
  z-index: -1;
  top:100em;
  margin-left: -8.5em;
}
#faq .acc {
  border-bottom: 1px solid #01193C;
  width: 70%;
  margin:0 auto 1em auto;
}
#faq .acc .questionContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.acc h5 {
  font-size: 20px;
  color: #01193C;
  padding: 15px;
  margin: 0;
  cursor: pointer;
  position: relative;
  font-weight: 400;
}

.content {
  background-color: #fff;
 display: none;
}

.content-inner {
  padding: 15px;
}

.content * {
  margin-top: 0;
  line-height: 1.5;
}
/* FAQ SECTION END ******************************************************************************/

/* BLOG SECTION START ******************************************************************************/
#blog{
  width: 100%;
}
#blog .heading h2 a{
  width: 100%;
  color:#01193C;
  text-decoration: none;
}
#blog .row{
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin: auto !important;
}
#blog .row .postCard{
  margin: 20px 20px;
  position: relative;
  
}
#blog .row .postCard .postImage{
  width: 517px;
  height: 345px;
  overflow: hidden;
  border-radius: 20px;

}
#blog .row .postCard .postImage img{
  width: 100%;
  height: 100%;

}
#blog .row .postCard .postTitle{
 text-align: left;
 padding:30px 0;
}
#blog .row .postCard .postTitle h5{
  font-size: 20px;
  color: #01193C;
  font-weight: 600;
}
#blog .row .postCard .postTitle h6{
  font-size: 18px;
  color: #B9B9B9;
  font-weight: 500;
}
#blog .row .postCard .postExcerpt{
  padding-bottom: 20px;
  text-align: left;
}
#blog .row .postCard .postExcerpt p{
  padding-bottom: 16px;
  padding-bottom: 5px;
}
#blog .row .postCard .postExcerpt a{
  font-size: 19px;
  color: #0078B6;
  padding-bottom: 10px;
  font-weight: 600;
  text-transform: uppercase;
}
#blog .row .postCard .postExcerpt a .fa-caret-right{
  position: relative;
  top: 6px;
  left: 4px;
}
#blog .row .postCard .postExcerpt img{
  position: relative;
  bottom: 36px;
  left: 24px;
}
.postCard .points{
  position: absolute;
  bottom: 27em;
  left: 25em;
  z-index: -1;
}
/* BLOG SECTION END******************************************************************************/

/* MAP SECTION ******************************************************************************/
#map {
  width: 100%;
}

#map .iframeContainer {
  width: 100%;
  position: relative;
}

.iframeContainer .contactForm {
  position: absolute;
  left: 200px;
  top: -60px;
  background-color: white;
  height: 570px;
  width: 470px;
  box-shadow: 4px 8px 24px #00000029;
  border-radius: 40px;
  text-align: center;
  padding: 25px 20px;
}

.iframeContainer .contactForm h3 {
  font-size: 18px;
  color: #0078B6;
  font-weight: 600;
}

.contactForm .nuBerekenen {
  background-color: #0078B6;
  border-radius: 32px;
  color: #fff !important;
  font-weight: 400 !important;
  padding: 10px 50px;
  font-size: 15px;
  margin-top: 25px;
}

#contact-form label {
  background-color: white;
  font-size: 14px;
  padding: 0 4px;
  position: relative;
  top: 20px;
  float: left;
  margin-left: 15px;
}

.form-control {
  padding: 25px 20px !important;
  border: 1px solid #707070 !important;
  border-radius: 10px !important;
}

.form-control::placeholder {
  font-size: 14px !important;
  color: #707070;
}

#map .contactFormMobileContainer {
  display: none;
}

/* FOOTER ******************************************************************************/
.footerWideScreen {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;
  bottom: 0;
}

.footerWideScreen>div {
  margin: auto;
}

.footerWideScreen .widgets {
  width: 70%;
  height: 70%;
  margin: auto;
}

.widgets .myWidget {
  width: 100%;
  height: 100%;
  font-size: 16px;
  padding-top: 30px;
}

.widgets .myWidget h3 {
  font-size: 18px;
  font-weight: 700 !important;
  text-align: left;
  margin-left: 40px;
  color: black;
}

.widgets .myWidget ul {
  display: block;
  list-style-type: none;
  text-align: left;
}

.widgets .myWidget ul li a {
  font-size: 18px;
  text-decoration: none;
  color: black;
}
.widgets .myWidget ul li a:hover {
  color: #0078B6;
}

.footerWideScreen .copyright {
  width: 80%;
  height: 30%;
}

.copyright .copyrightText {
  float: left;
}

.copyright .copyrightText p {
  font-size: 14px;
  padding-top: 5px;
}

.copyright .bezwaar24 {
  float: right;
  display: flex;
  flex-direction: row;
}

.copyright .bezwaar24 p {
  font-size: 14px;
  padding-top: 5px;
}

.copyright .bezwaar24 img {
  height: 28px;
  width: 120px;
  margin-left: 10px;
}

.footerMobileScreen {
  display: none;
}